.features_wrapper{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.fotoalbumes{
    width:50%;
}

article{
    text-align: center;
    display: flex;
    align-items: center;
}

article:nth-child(even){
    flex-direction: row-reverse;
    margin: 0em;
}

.textbtn{
    margin: 0em 1em;
}

h3{
    color:black;
    font-family:'Roboto', sans-serif;
}

button{
        font-family:'Roboto', sans-serif;
        font-size: 0.5em;
        text-transform: uppercase;
        border:2px white solid;
        color: white;
        background-color: black;
        text-align: center;
        cursor:pointer;
        padding:1em 2em;
        font-weight: bold;
}

.btn{
    font-size: 1em;
    margin:1em;
}

button:hover{
    border-color: black;
    color:black;
    background-color: white;
}

.a_features{
    font-size: 2em;
    margin:0em;
}

a:hover{
    border-color: #ba1734;
    color:#ba1734;
    text-decoration: none;
}

.highlight{
    background-color: #ff0;
}

@media (max-width: 700px) {
    article{
        display: block;
    }
}